/*
 * ▀█ █ █▄░█ █▀▀
 * █▄ █ █░▀█ ██▄.css
 *
 * inspired by https://rowan.fyi/made/zine-machine/
 *
 * License: CC BY 4.0
 */

@media print {
  @page {
    size: a4 landscape;
  }
  .zine {
    display: grid;
    grid-template-areas:
      "p5 p4 p3 p2"
      "p6 p7 p8 p1";
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    /* a very small margin so that the pages do look good */
    [class*="page-"] {
      margin: 5mm;
    }

    .page-2,.page-3,.page-4,.page-5{transform: rotate(180deg);}
  
    .page-1 { grid-area: p1;}
    .page-2 { grid-area: p2;}
    .page-3 { grid-area: p3;}
    .page-4 { grid-area: p4;}
    .page-5 { grid-area: p5;}
    .page-6 { grid-area: p6;}
    .page-7 { grid-area: p7;}
    .page-8 { grid-area: p8;}
  }
}
