/* 
 *  █░█ █ █▄░█ ▀█▀ ▄▀█ █▀▀ █▀▀
 *  ▀▄▀ █ █░▀█ ░█░ █▀█ █▄█ ██▄.css
 * inspired by the photos in: https://youtu.be/AcS1pLlXB8g
 *
 * LICENSE: This source is release in the public domain.
 * Use it for whateer you want to use it.
 *
 */

figure.vintage {
  --vintage-font-size: 1rem;
  --vintage-border-color: black;

  display: grid;
  grid-template-areas: "title" "image" "description";

  > img.vintage-image {
    grid-area: "image";
    border-width: 2px;
    border-style: solid;
    border-color: var(--vintage-border-color);
  }

  > figcaption {
    > .vintage-title {
      grid-area: "title";
      font-style: italic;
      font-size: var(--vintage-font-size);
    }

    > .vintage-description {
      grid-area: "description";
      text-align: right;
      font-weight: bold;
      font-size: var(--vintage-font-size);
    }
  }
}
